/* Normalize the body of the page */
body {
   /*Normalize the background of the body */
   margin: 0;
   background-color: hsl(185, 75%, 39%);
   max-height: 100vh;
   overflow: hidden;
   /* Normalize the text of the body */
   font-family: 'Kumbh Sans', sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: hsl(227, 10%, 46%);
   /* Display settings */
   display: flex;
   justify-content: center;
}

/* Formatting the profile card */
#container {
   display: flex;
   align-content: center;
   flex-direction: column;
   margin-top: 50vh;
   transform: translate(0, -50%);
}

.cardContainer {
   background-color: white;
   border-radius: 18px;
   width: 360px;
   min-width: 360px;
   height: 370px;
   min-height: 370px;
   overflow: hidden;
}

.upCard {
   display: flex;
   flex-direction: column;
   text-align: center;
   background-image: url(/images/bg-pattern-card.svg);
   background-repeat: no-repeat;
   background-size: 100%;
}

.upCard img {
   width: 95px;
   border-radius: 50%;
   border: white solid 8px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 90px;
   margin-bottom: 10px;
}

.upCard p {
   margin: 0;
   margin-bottom: 10px;
}

.upCard p:last-child {
   font-size: 12px;
   border-bottom: hsl(227, 10%, 46%) solid 1px;
   padding-bottom: 30px;
}

.botCard {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-self: flex-end;
   padding-top: 10px;
   text-align: center;
}

.statsContainer p {
   padding-top: 5px;
   margin-top: 5px;
   font-size: 12px;
}

/* Text Settings */
.boldText {
   font-weight: 700;
   color: black;
}

/* Placement of the background images */
#bgImgs {
   position: absolute;
   z-index: -1;
   display: none;
}

.bgTop {
   top: 0;
   left: 0;
   transform: translate(-50%, -50%);
}

.bgBot {
   float: right;
   transform: translate(50%, -50%);
}

/* Attribution settings */
.attribution {
   font-size: 10px;
   text-align: center;
   margin-top: 10px;
}